<div class="album-container">
  <select (change)="loadAlbums($event.target.value)">
    <option *ngFor="let item of users" value="{{item.id}}">
      {{item.name}}
    </option>
  </select>
  
  <div class="album-list" *ngIf="albums.length !== 0">
    <div class="album-item" *ngFor="let item of albums">
      <span (click)="loadPhotos(item.id)">{{item.title}}</span>
    </div>
  </div>
  <div class="default-text" *ngIf="albums.length === 0">
    Nothing yet...
  </div>
</div>

<div class="photo-overlay" *ngIf="photos.length !== 0"></div>

<div class="photo-container" *ngIf="photos.length !== 0">
  <div class="modal-header">
    <span (click)="closePhotoModal()">+</span>
  </div>
  <div class="photo-list">
    <div class="photo-item" *ngFor="let item of photos">
      <img src="{{item.thumbnailUrl}}" />
    </div>
  </div>
</div>

<router-outlet></router-outlet>
